@use "nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&family=Rubik+Marker+Hatch&display=swap");
body {

}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1050px;
	margin: 0 auto;
}

